In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_190124(12hdem) - Copy (5)\thoitrangnu\aonu"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aonu_all.ipynb',
 'tk_ttn_an.ipynb',
 'tk_ttn_an_npage.ipynb',
 'tk_ttn_an_t1.csv',
 'tk_ttn_an_t10.csv',
 'tk_ttn_an_t11.csv',
 'tk_ttn_an_t12.csv',
 'tk_ttn_an_t13.csv',
 'tk_ttn_an_t14.csv',
 'tk_ttn_an_t15.csv',
 'tk_ttn_an_t16.csv',
 'tk_ttn_an_t17.csv',
 'tk_ttn_an_t18.csv',
 'tk_ttn_an_t19.csv',
 'tk_ttn_an_t2.csv',
 'tk_ttn_an_t20.csv',
 'tk_ttn_an_t21.csv',
 'tk_ttn_an_t22.csv',
 'tk_ttn_an_t23.csv',
 'tk_ttn_an_t24.csv',
 'tk_ttn_an_t25.csv',
 'tk_ttn_an_t26.csv',
 'tk_ttn_an_t27.csv',
 'tk_ttn_an_t28.csv',
 'tk_ttn_an_t29.csv',
 'tk_ttn_an_t3.csv',
 'tk_ttn_an_t30.csv',
 'tk_ttn_an_t31.csv',
 'tk_ttn_an_t32.csv',
 'tk_ttn_an_t33.csv',
 'tk_ttn_an_t34.csv',
 'tk_ttn_an_t35.csv',
 'tk_ttn_an_t36.csv',
 'tk_ttn_an_t37.csv',
 'tk_ttn_an_t38.csv',
 'tk_ttn_an_t39.csv',
 'tk_ttn_an_t4.csv',
 'tk_ttn_an_t40.csv',
 'tk_ttn_an_t41.csv',
 'tk_ttn_an_t42.csv',
 'tk_ttn_an_t43.csv',
 'tk_ttn_an_t44.csv',
 'tk_ttn_an_t45.csv',
 'tk_ttn_an_t46.csv',
 'tk_ttn_an_t47.csv',
 'tk_ttn_an_t48.csv',
 'tk_ttn_an_t49.csv',
 'tk_ttn_an_t5.csv',
 'tk_ttn_an_t50.csv',
 'tk_ttn_an_t6.csv',
 'tk_ttn_an_t7.csv',
 'tk_ttn_an_t8.csv',
 'tk_ttn_an_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aonu_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"I love you, mã G98. Hãy tỏa sáng như kim cương...",119.000₫,https://tka.tiki.vn/pixel/pixel?data=r6sTGM5uK...,1,NaN,Đã bán 35,aonu
1,"Ăn chơi là phải có hội, mã TB1. Áo thun team b...",69.000₫,https://tka.tiki.vn/pixel/pixel?data=AAOxNYdUW...,2,-37%,NaN,aonu
2,"Cô gái thổ dân, mã G79. Hãy tỏa sáng như kim c...",69.000₫,https://tka.tiki.vn/pixel/pixel?data=gELn6yQnY...,3,-6%,Đã bán 11,aonu
3,"BORN TO BE BRAVE, mã G130. Hãy tỏa sáng như ki...",119.000,https://tka.tiki.vn/pixel/pixel?data=ri559UTXs...,4,-38%,NaN,aonu
4,NaN,NaN,https://tka.tiki.vn/pixel/pixel?data=nRkHNdEcg...,5,-46%,NaN,aonu
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/ao-croptop-ao-croptop-co-be-ao...,36,NaN,NaN,aonu
36,Áo đũi nữ cổ tầu form rộng phong cách Nhật Bản...,159.000₫,https://tiki.vn/ao-dui-nu-co-tau-form-rong-pho...,37,NaN,Đã bán 84,aonu
37,Áo Thun 3 Lỗ Nữ Listen To Mặc Đẹp Tôn Dáng Kết...,135.000₫,https://tiki.vn/ao-thun-3-lo-nu-listen-to-dep-...,38,NaN,Đã bán 6,aonu
38,"Áo croptop họa tiết, áo nữ, áo kiểu croptop, á...",77.000₫,https://tiki.vn/ao-croptop-hoa-tiet-ao-nu-ao-k...,39,NaN,Đã bán 3,aonu
39,Áo Sơ Mi Thắt Nơ,299.000,https://tiki.vn/ao-so-mi-that-no-p10571674.htm...,40,NaN,NaN,aonu

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"I love you, mã G98. Hãy tỏa sáng như kim cương...",119.000₫,https://tka.tiki.vn/pixel/pixel?data=r6sTGM5uK...,NaN,Đã bán 35,aonu
1,"Cô gái thổ dân, mã G79. Hãy tỏa sáng như kim c...",69.000₫,https://tka.tiki.vn/pixel/pixel?data=gELn6yQnY...,-6%,Đã bán 11,aonu
2,Áo len nữ cổ tròn ngắn tay hiện đại trẻ trung ...,139.000₫,https://tiki.vn/ao-len-nu-co-tron-ngan-tay-hie...,NaN,Đã bán 60,aonu
3,Áo len nữ cao cổ dài tay len dệt kim Quảng Châ...,159.000₫,https://tiki.vn/ao-len-nu-cao-co-dai-tay-len-d...,-31%,Đã bán 24,aonu
4,Áo thun nữ MXM cổ tròn form ôm body thun 4 chi...,87.000₫,https://tiki.vn/ao-thun-nu-co-tron-form-om-bod...,-37%,Đã bán 176,aonu
...,...,...,...,...,...,...
1006,"Áo trễ vai bánh bèo tiểu thư, áo trắng trần tr...",79.000₫,https://tiki.vn/ao-tre-vai-banh-beo-tieu-thu-a...,NaN,Đã bán 54,aonu
1007,Áo Thun 3 Lỗ Nữ Khoét Vai Chất Vải Thun Cotton...,89.100₫,https://tiki.vn/ao-thun-3-lo-nu-khoet-vai-chat...,NaN,Đã bán 5,aonu
1008,Áo đũi nữ cổ tầu form rộng phong cách Nhật Bản...,159.000₫,https://tiki.vn/ao-dui-nu-co-tau-form-rong-pho...,NaN,Đã bán 84,aonu
1009,Áo Thun 3 Lỗ Nữ Listen To Mặc Đẹp Tôn Dáng Kết...,135.000₫,https://tiki.vn/ao-thun-3-lo-nu-listen-to-dep-...,NaN,Đã bán 6,aonu
1010,"Áo croptop họa tiết, áo nữ, áo kiểu croptop, á...",77.000₫,https://tiki.vn/ao-croptop-hoa-tiet-ao-nu-ao-k...,NaN,Đã bán 3,aonu

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       119000
1        69000
2       139000
3       159000
4        87000
         ...
1006     79000
1007     89100
1008    159000
1009    135000
1010     77000
Name: price, Length: 1011, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0        35.0
1        11.0
2        60.0
3        24.0
4       176.0
        ...
1006     54.0
1007      5.0
1008     84.0
1009      6.0
1010      3.0
Name: sales, Length: 1011, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0        4165000.0
1         759000.0
2        8340000.0
3        3816000.0
4       15312000.0
           ...
1006     4266000.0
1007      445500.0
1008    13356000.0
1009      810000.0
1010      231000.0
Name: revenue, Length: 1011, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aonu: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aonu:  2869193476.0
So mat hang da ban:  1011
So san pham da ban:  24709.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"I love you, mã G98. Hãy tỏa sáng như kim cương...",119000,https://tka.tiki.vn/pixel/pixel?data=r6sTGM5uK...,NaN,35.0,aonu,4165000.0
1,"Cô gái thổ dân, mã G79. Hãy tỏa sáng như kim c...",69000,https://tka.tiki.vn/pixel/pixel?data=gELn6yQnY...,-6%,11.0,aonu,759000.0
2,Áo len nữ cổ tròn ngắn tay hiện đại trẻ trung ...,139000,https://tiki.vn/ao-len-nu-co-tron-ngan-tay-hie...,NaN,60.0,aonu,8340000.0
3,Áo len nữ cao cổ dài tay len dệt kim Quảng Châ...,159000,https://tiki.vn/ao-len-nu-cao-co-dai-tay-len-d...,-31%,24.0,aonu,3816000.0
4,Áo thun nữ MXM cổ tròn form ôm body thun 4 chi...,87000,https://tiki.vn/ao-thun-nu-co-tron-form-om-bod...,-37%,176.0,aonu,15312000.0
...,...,...,...,...,...,...,...
1006,"Áo trễ vai bánh bèo tiểu thư, áo trắng trần tr...",79000,https://tiki.vn/ao-tre-vai-banh-beo-tieu-thu-a...,NaN,54.0,aonu,4266000.0
1007,Áo Thun 3 Lỗ Nữ Khoét Vai Chất Vải Thun Cotton...,89100,https://tiki.vn/ao-thun-3-lo-nu-khoet-vai-chat...,NaN,5.0,aonu,445500.0
1008,Áo đũi nữ cổ tầu form rộng phong cách Nhật Bản...,159000,https://tiki.vn/ao-dui-nu-co-tau-form-rong-pho...,NaN,84.0,aonu,13356000.0
1009,Áo Thun 3 Lỗ Nữ Listen To Mặc Đẹp Tôn Dáng Kết...,135000,https://tiki.vn/ao-thun-3-lo-nu-listen-to-dep-...,NaN,6.0,aonu,810000.0
1010,"Áo croptop họa tiết, áo nữ, áo kiểu croptop, á...",77000,https://tiki.vn/ao-croptop-hoa-tiet-ao-nu-ao-k...,NaN,3.0,aonu,231000.0

In [15]:
df_all.to_csv("tk_aonu_all_ed.csv")