In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_160124(12hdem)\thoitrangnu\aonu"
os.listdir(path)

['.ipynb_checkpoints',
 'tk_aonu.csv',
 'tk_aonu_all.ipynb',
 'tk_ttn_an.ipynb',
 'tk_ttn_an_npage.ipynb',
 'tk_ttn_an_t10.csv',
 'tk_ttn_an_t11.csv',
 'tk_ttn_an_t12.csv',
 'tk_ttn_an_t13.csv',
 'tk_ttn_an_t14.csv',
 'tk_ttn_an_t15.csv',
 'tk_ttn_an_t16.csv',
 'tk_ttn_an_t17.csv',
 'tk_ttn_an_t18.csv',
 'tk_ttn_an_t19.csv',
 'tk_ttn_an_t2.csv',
 'tk_ttn_an_t20.csv',
 'tk_ttn_an_t21.csv',
 'tk_ttn_an_t22.csv',
 'tk_ttn_an_t23.csv',
 'tk_ttn_an_t24.csv',
 'tk_ttn_an_t25.csv',
 'tk_ttn_an_t26.csv',
 'tk_ttn_an_t27.csv',
 'tk_ttn_an_t28.csv',
 'tk_ttn_an_t29.csv',
 'tk_ttn_an_t3.csv',
 'tk_ttn_an_t30.csv',
 'tk_ttn_an_t31.csv',
 'tk_ttn_an_t32.csv',
 'tk_ttn_an_t33.csv',
 'tk_ttn_an_t34.csv',
 'tk_ttn_an_t35.csv',
 'tk_ttn_an_t36.csv',
 'tk_ttn_an_t37.csv',
 'tk_ttn_an_t38.csv',
 'tk_ttn_an_t39.csv',
 'tk_ttn_an_t4.csv',
 'tk_ttn_an_t40.csv',
 'tk_ttn_an_t41.csv',
 'tk_ttn_an_t42.csv',
 'tk_ttn_an_t43.csv',
 'tk_ttn_an_t44.csv',
 'tk_ttn_an_t45.csv',
 'tk_ttn_an_t46.csv',
 'tk_ttn_an_t47.csv',
 'tk_ttn_an_t48.csv',
 'tk_ttn_an_t49.csv',
 'tk_ttn_an_t5.csv',
 'tk_ttn_an_t50.csv',
 'tk_ttn_an_t6.csv',
 'tk_ttn_an_t7.csv',
 'tk_ttn_an_t8.csv',
 'tk_ttn_an_t9.csv']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aonu_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"This Girl Rules the World, mã G129. Hãy tỏa sá...",188.000₫,https://tka.tiki.vn/pixel/pixel?data=eFJFPapXD...,1,-6%,Đã bán 7,aonu
1,"Move fast and break things, mã G96. Hãy tỏa sá...",69.000₫,https://tka.tiki.vn/pixel/pixel?data=1_4T_2eX6...,2,-38%,NaN,aonu
2,"Tokyo Japan, mã G34. Hãy tỏa sáng như kim cươn...",69.000₫,https://tka.tiki.vn/pixel/pixel?data=0JSxMHJbu...,3,-46%,NaN,aonu
3,"BREAK THE RULES, mã G45. Hãy tỏa sáng như kim ...",69.000₫,https://tka.tiki.vn/pixel/pixel?data=sxbj-YjCh...,4,-71%,Đã bán 11,aonu
4,"BELIEVE IN YOURSELF, mã G32. Hãy tỏa sáng như ...",119.000₫,https://tka.tiki.vn/pixel/pixel?data=LRXe28O1G...,5,-31%,Đã bán 13,aonu
...,...,...,...,...,...,...,...
35,NaN,NaN,https://tiki.vn/ao-so-mi-that-no-p10571674.htm...,36,NaN,NaN,aonu
36,Áo Ba Lỗ Nữ Thun Lạnh Cực Mát,151.000₫,https://tiki.vn/ao-ba-lo-nu-thun-lanh-cuc-mat-...,37,NaN,NaN,aonu
37,Áo TankTop Ba Lỗ Lưới Siêu Mềm Quyến Rũ Thoáng...,152.000₫,https://tiki.vn/ao-tanktop-ba-lo-luoi-sieu-mem...,38,NaN,NaN,aonu
38,"Áo 2 dây chất su lụa mát mịn kèm mút ngực, thi...",93.000₫,https://tiki.vn/ao-2-day-chat-su-lua-mat-min-k...,39,NaN,Đã bán 1,aonu
39,"Áo trễ vai tay rơi cổ yếm, áo len trễ vai dây ...",119.000,https://tiki.vn/ao-tre-vai-tay-roi-co-yem-ao-l...,40,NaN,NaN,aonu

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"This Girl Rules the World, mã G129. Hãy tỏa sá...",188.000₫,https://tka.tiki.vn/pixel/pixel?data=eFJFPapXD...,-6%,Đã bán 7,aonu
1,"BREAK THE RULES, mã G45. Hãy tỏa sáng như kim ...",69.000₫,https://tka.tiki.vn/pixel/pixel?data=sxbj-YjCh...,-71%,Đã bán 11,aonu
2,"BELIEVE IN YOURSELF, mã G32. Hãy tỏa sáng như ...",119.000₫,https://tka.tiki.vn/pixel/pixel?data=LRXe28O1G...,-31%,Đã bán 13,aonu
3,Áo len nữ cổ tròn ngắn tay hiện đại trẻ trung ...,139.000₫,https://tiki.vn/ao-len-nu-co-tron-ngan-tay-hie...,-37%,Đã bán 60,aonu
4,Áo len nữ cao cổ dài tay len dệt kim Quảng Châ...,159.000₫,https://tiki.vn/ao-len-nu-cao-co-dai-tay-len-d...,-18%,Đã bán 24,aonu
...,...,...,...,...,...,...
1003,Áo Thun 3 Lỗ Nữ Khoét Vai Chất Vải Thun Cotton...,89.100₫,https://tiki.vn/ao-thun-3-lo-nu-khoet-vai-chat...,NaN,Đã bán 5,aonu
1004,"Áo croptop, áo croptop cổ bẻ, áo croptop có cổ...",77.000₫,https://tiki.vn/ao-croptop-ao-croptop-co-be-ao...,NaN,Đã bán 4,aonu
1005,Áo đũi nữ cổ tầu form rộng phong cách Nhật Bản...,159.000₫,https://tiki.vn/ao-dui-nu-co-tau-form-rong-pho...,NaN,Đã bán 84,aonu
1006,Áo Thun 3 Lỗ Nữ Listen To Mặc Đẹp Tôn Dáng Kết...,135.000₫,https://tiki.vn/ao-thun-3-lo-nu-listen-to-dep-...,NaN,Đã bán 6,aonu
1007,"Áo 2 dây chất su lụa mát mịn kèm mút ngực, thi...",93.000₫,https://tiki.vn/ao-2-day-chat-su-lua-mat-min-k...,NaN,Đã bán 1,aonu

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       188000
1        69000
2       119000
3       139000
4       159000
         ...
1003     89100
1004     77000
1005    159000
1006    135000
1007     93000
Name: price, Length: 1008, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0        7.0
1       11.0
2       13.0
3       60.0
4       24.0
        ...
1003     5.0
1004     4.0
1005    84.0
1006     6.0
1007     1.0
Name: sales, Length: 1008, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0        1316000.0
1         759000.0
2        1547000.0
3        8340000.0
4        3816000.0
           ...
1003      445500.0
1004      308000.0
1005    13356000.0
1006      810000.0
1007       93000.0
Name: revenue, Length: 1008, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aonu: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aonu:  3025461946.0
So mat hang da ban:  1008
So san pham da ban:  26464.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"This Girl Rules the World, mã G129. Hãy tỏa sá...",188000,https://tka.tiki.vn/pixel/pixel?data=eFJFPapXD...,-6%,7.0,aonu,1316000.0
1,"BREAK THE RULES, mã G45. Hãy tỏa sáng như kim ...",69000,https://tka.tiki.vn/pixel/pixel?data=sxbj-YjCh...,-71%,11.0,aonu,759000.0
2,"BELIEVE IN YOURSELF, mã G32. Hãy tỏa sáng như ...",119000,https://tka.tiki.vn/pixel/pixel?data=LRXe28O1G...,-31%,13.0,aonu,1547000.0
3,Áo len nữ cổ tròn ngắn tay hiện đại trẻ trung ...,139000,https://tiki.vn/ao-len-nu-co-tron-ngan-tay-hie...,-37%,60.0,aonu,8340000.0
4,Áo len nữ cao cổ dài tay len dệt kim Quảng Châ...,159000,https://tiki.vn/ao-len-nu-cao-co-dai-tay-len-d...,-18%,24.0,aonu,3816000.0
...,...,...,...,...,...,...,...
1003,Áo Thun 3 Lỗ Nữ Khoét Vai Chất Vải Thun Cotton...,89100,https://tiki.vn/ao-thun-3-lo-nu-khoet-vai-chat...,NaN,5.0,aonu,445500.0
1004,"Áo croptop, áo croptop cổ bẻ, áo croptop có cổ...",77000,https://tiki.vn/ao-croptop-ao-croptop-co-be-ao...,NaN,4.0,aonu,308000.0
1005,Áo đũi nữ cổ tầu form rộng phong cách Nhật Bản...,159000,https://tiki.vn/ao-dui-nu-co-tau-form-rong-pho...,NaN,84.0,aonu,13356000.0
1006,Áo Thun 3 Lỗ Nữ Listen To Mặc Đẹp Tôn Dáng Kết...,135000,https://tiki.vn/ao-thun-3-lo-nu-listen-to-dep-...,NaN,6.0,aonu,810000.0
1007,"Áo 2 dây chất su lụa mát mịn kèm mút ngực, thi...",93000,https://tiki.vn/ao-2-day-chat-su-lua-mat-min-k...,NaN,1.0,aonu,93000.0

In [15]:
df_all.to_csv("tk_aonu_all_ed.csv")