In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
path = r"D:\CNTT\py_for_da\crawl_data_analyst\tiki\crawl_190124(12hdem) - Copy (5)\thoitrangnam\aoni"
os.listdir(path)

['tk_aoni_all.ipynb',
 'tk_aoni_t1.csv',
 'tk_aoni_t10.csv',
 'tk_aoni_t11.csv',
 'tk_aoni_t12.csv',
 'tk_aoni_t13.csv',
 'tk_aoni_t14.csv',
 'tk_aoni_t15.csv',
 'tk_aoni_t16.csv',
 'tk_aoni_t17.csv',
 'tk_aoni_t18.csv',
 'tk_aoni_t19.csv',
 'tk_aoni_t2.csv',
 'tk_aoni_t20.csv',
 'tk_aoni_t21.csv',
 'tk_aoni_t3.csv',
 'tk_aoni_t4.csv',
 'tk_aoni_t5.csv',
 'tk_aoni_t6.csv',
 'tk_aoni_t7.csv',
 'tk_aoni_t8.csv',
 'tk_aoni_t9.csv',
 'tk_ttn_an_npage.ipynb']

In [3]:
frames = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + '\\' + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)

df_all = result
df_all.to_csv("tk_aoni_all.csv", index="False")

In [4]:
df_all

,title,price,link_item,index,discount,sales,category
0,"Áo Nỉ Nam Dài Tay 5S FASHION Cổ Tròn, Vải Cott...",214.000₫,https://tka.tiki.vn/pixel/pixel?data=BxwCGmo3w...,1,-35%,Đã bán 7,aoni
1,"Áo Sweater Nỉ Nam 5S FASHION Cổ Tròn, Vải Cott...",189.000₫,https://tka.tiki.vn/pixel/pixel?data=gZ6hehYTa...,2,-43%,Đã bán 5,aoni
2,"Áo Sweater Nỉ Nam 5S FASHION Cổ Tròn Cotton, T...",292.000₫,https://tka.tiki.vn/pixel/pixel?data=4ngvpCdIm...,3,-35%,Đã bán 2,aoni
3,"Áo Sweater Nam 5S FASHION POSITIVE, Chất Nỉ Co...",285.000₫,https://tka.tiki.vn/pixel/pixel?data=sSgAxiGsj...,4,-35%,NaN,aoni
4,"Áo Nỉ Nam Cổ Tròn 5S FASHION Nhiều Màu, Vải Co...",259.000₫,https://tka.tiki.vn/pixel/pixel?data=YEyU95MZw...,5,-35%,Đã bán 2,aoni
...,...,...,...,...,...,...,...
35,Sweater Hải Tặc Phản Quang 7 Màu - Áo Nỉ Dài T...,250.000₫,https://tiki.vn/sweater-hai-tac-phan-quang-7-m...,36,NaN,NaN,aoni
36,Áo Nỉ Dài Tay Sweater Chất Nỉ Cao Cấp Phong Cá...,380.000₫,https://tiki.vn/ao-ni-dai-tay-sweater-chat-ni-...,37,NaN,NaN,aoni
37,Áo sweater LOGO under Hà Nội Form Rộng Áo nỉ d...,250.000₫,https://tiki.vn/ao-sweater-logo-under-ha-noi-f...,38,NaN,NaN,aoni
38,"Áo nỉ nam, nữ chất liệu nỉ dày dặn chất lượng,...",348.000₫,https://tiki.vn/ao-ni-nam-nu-chat-lieu-ni-day-...,39,NaN,NaN,aoni
39,Áo len nam cổ lọ vàng cao cấp,520.000₫,https://tiki.vn/ao-len-nam-co-lo-vang-cao-cap-...,40,NaN,NaN,aoni

1. Xử lý dữ liệu

In [5]:
df_all = df_all.drop('index', axis=1)

In [6]:
df_all.dropna(subset=['sales'], inplace=True)

In [7]:
df_all = df_all.reset_index(drop=True)

In [8]:
df_all

,title,price,link_item,discount,sales,category
0,"Áo Nỉ Nam Dài Tay 5S FASHION Cổ Tròn, Vải Cott...",214.000₫,https://tka.tiki.vn/pixel/pixel?data=BxwCGmo3w...,-35%,Đã bán 7,aoni
1,"Áo Sweater Nỉ Nam 5S FASHION Cổ Tròn, Vải Cott...",189.000₫,https://tka.tiki.vn/pixel/pixel?data=gZ6hehYTa...,-43%,Đã bán 5,aoni
2,"Áo Sweater Nỉ Nam 5S FASHION Cổ Tròn Cotton, T...",292.000₫,https://tka.tiki.vn/pixel/pixel?data=4ngvpCdIm...,-35%,Đã bán 2,aoni
3,"Áo Nỉ Nam Cổ Tròn 5S FASHION Nhiều Màu, Vải Co...",259.000₫,https://tka.tiki.vn/pixel/pixel?data=YEyU95MZw...,-35%,Đã bán 2,aoni
4,Áo Len Cổ Lọ Nam SZone SAL222 Phong Cách Hàn Quốc,116.000₫,https://tiki.vn/ao-len-co-lo-nam-szone-sal222-...,-17%,Đã bán 601,aoni
...,...,...,...,...,...,...
300,Bộ nỉ kéo khóa nam Aligro màu đen BN10,1.045.000₫,https://tiki.vn/bo-ni-keo-khoa-nam-aligro-bn10...,NaN,Đã bán 1,aoni
301,"Áo len nam cổ tròn Hàn Quốc dài tay cao cấp, Á...",149.000₫,https://tiki.vn/ao-len-nam-co-tron-han-quoc-da...,NaN,Đã bán 1,aoni
302,Áo len nam cổ lọ loại dày đẹp,199.000₫,https://tiki.vn/ao-len-nam-co-lo-loai-day-dep-...,NaN,Đã bán 1,aoni
303,Áo len nam vải mềm mịn không xù cổ 3 phân body...,159.000₫,https://tiki.vn/ao-len-nam-vai-mem-min-khong-x...,NaN,Đã bán 1,aoni
304,Áo Len Nam Cho Người Lớn Tuổi FGT03,390.000₫,https://tiki.vn/ao-len-nam-cho-nguoi-lon-tuoi-...,NaN,Đã bán 12,aoni

In [9]:
df_all["price"] = df_all["price"].replace('[\₫,]', '', regex=True).replace('\.', '', regex=True).astype(int)
print(df_all["price"])

0       214000
1       189000
2       292000
3       259000
4       116000
        ...
300    1045000
301     149000
302     199000
303     159000
304     390000
Name: price, Length: 305, dtype: int32

In [10]:
def convert_to_number(value):
    if isinstance(value, str):
        if 'k+' in value:
            return float(value.replace('k+', '')) * 1000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value) if value else None
    else:
        return value

# Áp dụng hàm convert_to_number cho cột 'Gia'
df_all["sales"] = df_all["sales"].apply(lambda x: np.nan if pd.isna(x) else x.split('Đã bán')[1].strip())
df_all["sales"] = df_all["sales"].apply(convert_to_number)
df_all["sales"]

0        7.0
1        5.0
2        2.0
3        2.0
4      601.0
       ...
300      1.0
301      1.0
302      1.0
303      1.0
304     12.0
Name: sales, Length: 305, dtype: float64

In [11]:
df_all["revenue"] = df_all["price"] * df_all["sales"]
df_all["revenue"]

0       1498000.0
1        945000.0
2        584000.0
3        518000.0
4      69716000.0
          ...
300     1045000.0
301      149000.0
302      199000.0
303      159000.0
304     4680000.0
Name: revenue, Length: 305, dtype: float64

In [12]:
total = df_all["revenue"].sum()

In [13]:
print("Tổng doanh số aoni: ", total)
print("So mat hang da ban: ", len(df_all["title"])) # san pham da ban
print("So san pham da ban: ", df_all["sales"].sum()) # san pham co luot ban

Tổng doanh số aoni:  769437078.0
So mat hang da ban:  305
So san pham da ban:  3505.0

In [14]:
df_all

,title,price,link_item,discount,sales,category,revenue
0,"Áo Nỉ Nam Dài Tay 5S FASHION Cổ Tròn, Vải Cott...",214000,https://tka.tiki.vn/pixel/pixel?data=BxwCGmo3w...,-35%,7.0,aoni,1498000.0
1,"Áo Sweater Nỉ Nam 5S FASHION Cổ Tròn, Vải Cott...",189000,https://tka.tiki.vn/pixel/pixel?data=gZ6hehYTa...,-43%,5.0,aoni,945000.0
2,"Áo Sweater Nỉ Nam 5S FASHION Cổ Tròn Cotton, T...",292000,https://tka.tiki.vn/pixel/pixel?data=4ngvpCdIm...,-35%,2.0,aoni,584000.0
3,"Áo Nỉ Nam Cổ Tròn 5S FASHION Nhiều Màu, Vải Co...",259000,https://tka.tiki.vn/pixel/pixel?data=YEyU95MZw...,-35%,2.0,aoni,518000.0
4,Áo Len Cổ Lọ Nam SZone SAL222 Phong Cách Hàn Quốc,116000,https://tiki.vn/ao-len-co-lo-nam-szone-sal222-...,-17%,601.0,aoni,69716000.0
...,...,...,...,...,...,...,...
300,Bộ nỉ kéo khóa nam Aligro màu đen BN10,1045000,https://tiki.vn/bo-ni-keo-khoa-nam-aligro-bn10...,NaN,1.0,aoni,1045000.0
301,"Áo len nam cổ tròn Hàn Quốc dài tay cao cấp, Á...",149000,https://tiki.vn/ao-len-nam-co-tron-han-quoc-da...,NaN,1.0,aoni,149000.0
302,Áo len nam cổ lọ loại dày đẹp,199000,https://tiki.vn/ao-len-nam-co-lo-loai-day-dep-...,NaN,1.0,aoni,199000.0
303,Áo len nam vải mềm mịn không xù cổ 3 phân body...,159000,https://tiki.vn/ao-len-nam-vai-mem-min-khong-x...,NaN,1.0,aoni,159000.0
304,Áo Len Nam Cho Người Lớn Tuổi FGT03,390000,https://tiki.vn/ao-len-nam-cho-nguoi-lon-tuoi-...,NaN,12.0,aoni,4680000.0

In [15]:
df_all.to_csv("tk_aoni_all_ed.csv")